body{
    width: 768px;
    margin: auto;
}
.grid-container{
    margin: 1em;
    background-color: #e9e8e8;
    display: grid;
    grid-template-columns: 3fr 4fr;
    text-align: center;
}
#tr_header{
    background: #0B6FA4; border-bottom: 5px solid #FFFFFF;
    font-weight: bold; 
    font-size: 17px;  
    color: #FFFFFF;
    
}
#tabla_pizzas thead th:hover{
    cursor: pointer;
    background-color: lightgray
}
#tabla_pizzas tr{
    font-size:17px; 
    height: 2em;
    padding: 5px;

}
tr{
    background-color: #FFFFFF;
}
.impar{
    background-color: #d0e4f5;
}